form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
    
}
.try{
    display:flex;
    padding: 10px 40px;   
    justify-content: center;
    color: rgb(12, 158, 12);
}
h2{
        padding: 40px;

}